.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-right: 137px;
    width: max-content
}

.info__info-stat {
    margin: 100px 0;
}