body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.block {
    display: flex;

    width: 100%;
    margin-top: 125px;
}

.stat-title {
    font-weight: 700;
    text-transform: uppercase;
    color: #A65A5A;
}