.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    background: #9360BC;

    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 700;
}